EXPO_PUBLIC_GOOGLE_MAPS_ID=
EXPO_PUBLIC_GOOGLE_CLIENT_ID=
EXPO_PUBLIC_PLAID_CLIENT_ID=
EXPO_PUBLIC_API_URL=

# Map ID from Google Cloud Console (Maps JavaScript API) for custom styling and Advanced Markers. Leave empty for default map.
VITE_GOOGLE_MAPS_ID=
VITE_GOOGLE_CLIENT_ID=
VITE_PLAID_CLIENT_ID=
VITE_API_URL=