AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY

AWS_COGNITO_CLIENT_ID
AWS_COGNITO_CLIENT_SECRET
AWS_COGNITO_USER_POOL_ID

EC2_HOST
EC2_SSH_KEY

GOOGLE_MAPS_API_KEY

GOOGLE_CALENDAR_SECRET
GOOGLE_CLIENT_ID

CENSUS_API_KEY
MAPBOX_API_KEY

OPENAI_KEY

PERPLEXITY_API_KEY


PLAID_SANDBOX_KEY
PLAID_SECRET

RAPIDAPI_KEY

SERP_API


